.content, header, footer {
    margin: 0 auto;
    max-width: 1000px;
    clear: both;
}

.content{
    min-height: 600px;
    padding: 15px;
    background: #ccc;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

header ul {
    width: 100%;
    float: left;
    margin: 0;
    background: green;
}

header nav ul li{
    float: left;
}



header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

#registration form{
    width: 350px;
    margin: auto;
    border: 1px solid;
    padding: 15px;
}

#registration .row{
    width: 100%;
    margin-bottom: 15px;
}

#registration .row input{
    float: right;
    width: 240px;
}

#registration h1{
    text-align: center;
}
#registration h3{
    text-align: center;
}

#registration .row span {
    color: red;
    width: 100%;
    display: block;
    float: left;
    font-size: 12px;
}

#registration .row .hide{
    display: none;
}

